body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    border: solid;
    border-width: 1px;
    border-color: #aaa;
    border-top: none;
    padding: 0;
}

.site-head {
    background-color: #d1e5ef;
}

.site-head h2 {
    margin: 0;
    padding: 5px 10px;
}

.content {
    padding: 20px 40px;
}

.footer {
    padding: 20px;
    background-color: #333333;
    color: #bebebe;
    font-size: 0.8em;
}

a:visited {
    color: blue;
}

.client {
    font-family: monospace;
}

.client ul {
    list-style-type: none;
}

.client .name {
    background-color: darksalmon;
    padding: 3px 10px;
    border-radius: 7px;
}

.client .name:hover {
    background-color: #fbc1a9;
}

.client .count {
    background-color: darkseagreen;
    padding: 3px 10px;
    border-radius: 7px;
}

.client .count:hover {
    background-color: #acdeac;
}

.error-page-http-status-code {
    font: 115pt arial bold;
}

.error-page-stacktrace {
    font-size: smaller;
}

.article .date {
    padding: 3px 10px;
    background-color: darksalmon;
    border-radius: 7px;
}

ul#menu-main {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
}

ul#menu-main li {
    float: left;
}

ul#menu-main li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul#menu-main li.active {
    background-color: #4CAF50;
}

ul#menu-main li a:hover {
    background-color: #606060;
}

ul#menu-main li.active a:hover {
    background-color: #4CAF50;
}

ul#menu-main #logo {
    float: right;
}

ul#menu-main #logo li {
    background-color: goldenrod;
}

ul#menu-main #logo li a:hover {
    background-color: rgb(170, 133, 22);
}

.toolbar ul {
    padding: 0;
}

.toolbar ul li {
    display: inline;
    list-style-type: none;
    padding-right: 15px;

}
